body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
    display: flex;
    margin: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    font-family: Arial;
}

video {
    max-width: 75%;
    margin: 20px;
    box-sizing: border-box;
    padding: 0;
}

.userVideo {
    border-radius: 50%;
}

label {
    margin: 20px;
    display: block;
    color: white;
}